body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 25px;
}

#results {
    white-space: pre-wrap;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
}